body {
    display: flex;
    background-color: #b2b2b2;
    justify-content: center;
    align-items: center;
    padding: 100px;
    flex-direction: column;
}

h1 {
    text-align: center;
}
.container {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 25px;
}

.results {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    padding: 50px;
}

.selection, .scores {
    display: flex;
    height: 100px;
    width: 200px;

}

.scores {
    justify-content: space-between;
    gap: 25px;
}

.selection {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border: 2px solid gray;
    border-radius: 10px;
}

.container button {
    border-radius: 10px;
    width: 200px;
    height: 100px;
    font-size: large;
}

#playerScore, #computerScore {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10px;
}

/*
#rock {
    background-color: #f4e1d2;
}

#paper {
    background-color: #f18973;
}

#scissors {
    background-color: #bc5a45;
}
*/
#rock {
    background-color: #e8aa5f;
}

#paper {
    background-color: white;
}

#scissors {
    background-color: #bc5a45;
}
